// Premium Quasar Sass (& SCSS) Variables
// Tailwind / HSL Tailwind inspired gorgeous colors
$primary   : #4f46e5; // Indigo 600
$secondary : #8b5cf6; // Violet 500
$accent    : #ec4899; // Pink 500

$dark      : #0f172a; // Slate 900
$dark-page : #0b0f19; // Slate 950

$positive  : #10b981; // Emerald 500
$negative  : #f43f5e; // Rose 500
$info      : #06b6d4; // Cyan 500
$warning   : #f59e0b; // Amber 500
